<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask SI Calculator</title>
  <link rel="manifest" href="/manifest.json">
  <link rel="stylesheet" href="/static/styles/appstyle.css">

</head>
<body>
    <div class="container-align">
    <h2>Enter Details</h2>
    <form id= "calculationForm" method="POST" action="/calculate"">
        <table>
        <label for="principal">Principal:</label><br>
        <input type="text" id="principal" name="principal" required><br><br>
  

        <label for="start_date">Start Date:</label><br>
        <div>
            <input type="date" id="start_date" name="start_date" required>
            <input type="button" value="Today" onclick="setToday('start_date')"><br><br>
        </div>

        <label for="end_date">End Date:</label><br>
        <div>
            <input type="date" id="end_date" name="end_date" required>
            <input type="button" value="Today" onclick="setToday('end_date')"><br><br>
        </div>

        <input type="checkbox" id="includeToday" name="includeToday">
        <label for="includeToday"> Include Today</label><br><br>

        <input type="submit" value="Calculate" onclick="calculateInterest()"><br><br>
        </table>
    </form>
    </div>
    <script src="/static/javascript/app.js"></script>
    
</body>
</html>
