<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SI Calculator</title>
  <link rel="manifest" href="/manifest.json">
  <link rel="stylesheet" href="/static/styles/inputform.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2 class="text-center mb-4">Enter Details</h2>
        <form id="calculationForm" action="/calculate" method="post">
            <table class="table">
                <tr>
                    <td><label for="principal">Principal:</label></td>
                    <td><input type="text" class="form-control" id="principal" name="principal" required></td>
                </tr>
                <tr>
                    <td><label for="rate">Rate:</label></td>
                    <td> <select class="form-control" id="rate" name="rate" required>
                            <option value="1">1%</option>
                            <option value="2">2%</option>
                            <option value="3">3%</option>
                            <option value="4">4%</option>
                            <option value="5" selected>5%</option> <!-- Default selected rate -->
                        </select></td>
                </tr>
                <tr>
                    <td><label for="start_date">Start Date:</label></td>
                    <td>
                        <div class="input-group">
                            <input type="date" class="form-control" id="start_date" name="start_date" required>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" onclick="setToday('start_date')">Today</button>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><label for="end_date">End Date:</label></td>
                    <td>
                        <div class="input-group">
                            <input type="date" class="form-control" id="end_date" name="end_date" required>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" onclick="setToday('end_date')">Today</button>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="includeToday" name="includeToday">
                            <label class="form-check-label" for="includeToday">Include End Date</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="submit" class="btn btn-primary btn-block" onclick="validateForm()">Calculate Amount</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <script src="/static/javascript/app.js"></script>
    
</body>
</html>
